*.class                                                                                                                                                                                                                                                                        
*.log                                                                                                                                                                                                                                                                          
.idea/*                                                                                                                                                                                                                                                                        
*/*.iml                                                                                                                                                                                                                                                                        
bin/*
*/target/
*.iml
