*.class                                                                                                                                                                                                                                                                        
logs/*                                                                                                                                                                                                                                                                          
.idea/*                                                                                                                                                                                                                                                                        
*/*.iml                                                                                                                                                                                                                                                                        
bin/*
*/target/
*.iml
*.pid
